@theme {
  /* Loading Bar Animations */
  --animate-loading-bar: loadingBar 1.5s linear infinite;

  @keyframes loadingBar {
    0% {
      transform: translateX(-2%);
    }
    50% {
      transform: translateX(202%);
    }
    100% {
      transform: translateX(-2%);
    }
  }

  /* Appear Animations */
  --animate-appear: appear 0.2s ease-out;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Collapsible Animations */
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--bits-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--bits-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}
