@theme {
  /* Radius utilities */
  --radius: 0.25rem;
  --width-chat: 20rem;
  --color-site-bg: #f8f8f8;
  --height-header: 3.75rem;
  --padding-header: 3.75rem;
  --height-mobile-bar: 3.75rem;
  --spacing-site: clamp(1rem, 4vw, 2rem);
  /* 1280 px plus 2rem padding on each side */
  --max-width-site: calc(96rem + 2rem * 2);

  /* Max-width utilities */
  --max-width-8xl: 88rem; /* 1408px */

  /* Custom screen breakpoint */
  --breakpoint-xs: 480px;
}
