@theme {
	--shadow-floating: 0px 2px 4px 0px rgba(18, 18, 23, 0.04), 0px 5px 8px 0px rgba(18, 18, 23, 0.04),
		0px 10px 18px 0px rgba(18, 18, 23, 0.03), 0px 24px 48px 0px rgba(18, 18, 23, 0.03),
		0px 0px 0px 1px rgba(18, 18, 23, 0.1);

	--shadow-card: 0 2px 1px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.25);

	--shadow-box: 0 1px 3px rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);

	--shadow-modal: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 26px 80px rgba(0, 0, 0, 0.2);
}
