@theme {
  /* Font family */
  --font-body: "Poppins", var(--font-sans);
  --font-heading: "Poppins", var(--font-sans);

  /* Font size */
  --text-2xs: 0.8125rem; /* 13px */
  --text-2xs--line-height: 1.125rem; /* 18px */
  --text-2sm: 0.9375rem; /* 15px */
  --text-2sm--line-height: 1.375rem; /* 22px */
  --text-md: 0.9375rem; /* 15px */
  --text-md--line-height: 1.375rem; /* 22px */
}
